## Python Basics

In [5]:
full_name = 'krystal thomas'
seperate_name = full_name.split()
print(seperate_name)

['krystal', 'thomas']

In [6]:
first_name = 'krystal'
last_name = 'thomas'
print(first_name + last_name)

krystalthomas

In [7]:
print(first_name + ' ' + last_name)

krystal thomas

In [9]:
print(first_name.capitalize() + ' ' + last_name.capitalize())

Krystal Thomas

In [10]:
age = 20
type(age)

int

In [11]:
height = 5.2
type(height)

float

In [12]:
raining = True
type(raining)

bool

In [13]:
students = ['xiang', 'allen', 'yuqi']
type(students)

list

In [15]:
students1 = ('xiang', 'allen', 'yuqi')
type(students1)

tuple

In [18]:
student_details = {'name':'krystal', 'age':30, 'city':'Dallas'}
type(student_details)

dict

### Logical Operators

In [19]:
True and True

True

In [20]:
True and False

False

In [21]:
False and False

False

In [22]:
False or False

False

In [23]:
True or False

True

In [24]:
1 == 1

True

In [25]:
10 == 20

False

In [26]:
1 > 5

False

In [27]:
1 <= 6

True

In [28]:
1 <= 1.0

True

In [29]:
True is True

True

In [31]:
True is not False

True

### Conditionals

In [36]:
import pandas

In [37]:
print('Hello World')

Hello World

In [49]:
2/2  # Division

1.0

In [6]:
19//3  # Floor Division（商） -- Divides and returns the integer value of the quotient. It dumps the digits after the decimal.

6

In [59]:
12%5 # Modulus模除(余数）。Divides and returns the value of the remainder.

2

#### Types: if, if else, multiple if, elif

In [43]:
number = 12
if number%2 == 0:
    print('This is an even number')
else:
    print('This is an odd number')

This is an even number

In [48]:
number = 15
if number%2 == 0:
    print('This is an even number')
elif number%2 == 1:
    print('This is an odd number')
elif number%3 == 0:
    print('This is a multiple of 3 number')
else:
    print('Invalid number')   # assign number to a float number like 15.8, it'll be invalid number

This is an odd number

In [3]:
# multiple if: check every conditions one by one
number = 18
if number%2 == 0:
    print('This is an even number')
if number%2 == 1:
    print('This is an odd number')
if number%3 == 0:
    print('This is a multiple of 3 number')

This is an even number
This is a multiple of 3 number

### note: Python executes from top to bottom, left to right. So the above just says 'This is an odd number'

## Looping -- for loop, while loop

In [7]:
for char in 'Dallas':
    print(char)

D
a
l
l
a
s

In [8]:
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [12]:
for i in range(0,11):
    if i%2 == 0:
        print('i is even')
    elif i%2 == 1:
        print('i is odd')

i is even
i is odd
i is even
i is odd
i is even
i is odd
i is even
i is odd
i is even
i is odd
i is even

In [16]:
for i in range(0,11):
    if i%2 == 0:
        print('i {} is even'.format(i))   # string formatting
    elif i%2 == 1:
        print('i {} is odd'.format(i))

i 0 is even
i 1 is odd
i 2 is even
i 3 is odd
i 4 is even
i 5 is odd
i 6 is even
i 7 is odd
i 8 is even
i 9 is odd
i 10 is even

In [1]:
num = 1
while num <= 6:
    print(num)
    num += 1

1
2
3
4
5
6

## Data Strutures --- list, tuple, dictionary, set

## List

In [7]:
# list is ordered and changeable collections of heterogeneous异质的 elements of different types.
# It has indexting (postive and negative)
cities = ['bangalore', 'hyderabad', 'newyork', 'shangai', 'dhubhai']

In [8]:
type(cities)

list

In [9]:
cities[0]

'bangalore'

In [10]:
cities[-1]

'dhubhai'

In [11]:
len(cities)

5

In [ ]:
# Assignment 1: Find the count of elements inside a list without using len() funciton.
# Assignment 2: Convert each element to uppercase in a list.
# Assignment 3: Convert each element to lowercase in a list.
# Assignment 4: Convert each element to camelcase in a list.
# Assignment 5: Find the prime numbers from 1 to 100.
# Assignment 6: Find the elements starting with 'b' in a list.
# Assignment 7: Find the elements starting with 'i' in a list.
# Assignment 8: Print alternate values from a list.
# Assignment 9: Reverse the string

In [16]:
cities[1:3]   # right index is excluded

['hyderabad', 'newyork']

In [23]:
cities = ['bangalore', 'hyderabad', 'newyork', 'shangai', 'dhubhai']
cities[::2]

['bangalore', 'newyork', 'dhubhai']

In [32]:
cities.index('newyork')

2

In [34]:
cities1 = ['Chicago', 'Beijing', 'Berlin']
cities.extend(cities1)   # 加一个element用append，加一个list的elements用extend

In [35]:
cities

['bangalore',
 'hyderabad',
 'newyork',
 'shangai',
 'dhubhai',
 'dallas',
 'dallas',
 'dallas',
 'austin',
 'Chicago',
 'Beijing',
 'Berlin']

In [36]:
cities.append('London')  # if you append a list, it's gonna append the list as a single element. but if you extend a list, it's gonna give you each of the elements in the list.

In [37]:
cities

['bangalore',
 'hyderabad',
 'newyork',
 'shangai',
 'dhubhai',
 'dallas',
 'dallas',
 'dallas',
 'austin',
 'Chicago',
 'Beijing',
 'Berlin',
 'London']

In [38]:
cities[::-1]  # reverse a string --- get the list in backward order

['London',
 'Berlin',
 'Beijing',
 'Chicago',
 'austin',
 'dallas',
 'dallas',
 'dallas',
 'dhubhai',
 'shangai',
 'newyork',
 'hyderabad',
 'bangalore']

## Tuple

In [ ]:
# immutable, ordered, heterogeneous collection of data, can be used as a key for dictionary.
# supports positive and negative indexing.
# positive indexes [0,1,2,3,4,5,......]
# negative indexes [......-4,-3,-2,-1]

In [ ]:
numbers = (1,2,3,4)

## Dictionary

In [42]:
# a collection of key value pair, which is separate by comma(,).
# key and value are separated by colon(:)
# an unordered collection of data
# the keys are immutable

employee_details = {'name':'krystal',
                    'age':20,
                    'salary':4000,
                    'phone_number':123456789}
type(employee_details)

dict

In [43]:
employee_details['phone_number']

123456789

In [44]:
employee_details['age']

20

In [47]:
employee_details.keys()

dict_keys(['name', 'age', 'salary', 'phone_number'])

In [48]:
employee_details.values()

dict_values(['krystal', 20, 4000, 123456789])

In [49]:
list(employee_details.values())

['krystal', 20, 4000, 123456789]

In [1]:
cities2 = ['bangalore', 'hyderabad', 'newyork', 'shangai', 'dhubhai']

In [3]:
cities2.capita

NameError: name 'capitalize' is not defined